Source/Framework/Monahrq.Infrastructure/Configuration/MonahrqConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Monahrq.Infrastructure.Configuration" elementFormDefault="qualified" targetNamespace="urn:Monahrq.Infrastructure.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MonahrqConfigurationSectionGroup" type="tns:Monahrq.Infrastructure.Configuration.MonahrqConfigurationSectionGroupCT" />
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqConfigurationSectionGroupCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="MonahrqConfigurationSection" type="tns:Monahrq.Infrastructure.Configuration.MonahrqConfigurationSectionCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="namedConnections" type="tns:Monahrq.Infrastructure.Configuration.NamedConnectionElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The NamedConnections.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="contentTypes" type="tns:Monahrq.Infrastructure.Configuration.MonahrqContentTypeElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The ContentTypes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="entityConnectionSettings" type="tns:Monahrq.Infrastructure.Configuration.ConnectionStringSettingsElementCT">
				<xs:annotation>
					<xs:documentation>The EntityConnectionSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="themes" type="tns:Monahrq.Infrastructure.Configuration.MonahrqThemeElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Themes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="hospitalRegion" type="tns:Monahrq.Infrastructure.Configuration.HospitalRegionElementCT">
				<xs:annotation>
					<xs:documentation>The HospitalRegion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="winQiConnectionSettings" type="tns:Monahrq.Infrastructure.Configuration.ConnectionStringSettingsElementCT">
				<xs:annotation>
					<xs:documentation>The WinQiConnectionSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="banners" type="tns:Monahrq.Infrastructure.Configuration.MonahrqBannerElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Banners.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="rebuildDatabase" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The RebuildDatabase.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="longTimeout" use="optional" type="xs:time">
			<xs:annotation>
				<xs:documentation>The LongTimeout.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="shortTimeout" use="optional" type="xs:time">
			<xs:annotation>
				<xs:documentation>The ShortTimeout.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lastFolder" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LastFolder.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="batchSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The BatchSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="debugSql" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The DebugSql.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="updateCheckUrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The UpdateCheckUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="useApiForPhysicians" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The UseApiForPhysicians.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dataAccessComponentsInstalled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The DataAccessComponentsInstalled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="monahrqVersion" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MonahrqVersion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="monahrqDemoSiteUrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MonahrqDemoSiteUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.NamedConnectionElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="schemaIniSettings" type="tns:Monahrq.Infrastructure.Configuration.SchemaIniElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The SchemaIniSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="connectionString" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ConnectionString.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="selectFrom" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The object from the datasource to present to the application</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="controllerType" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ControllerType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.NamedConnectionElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="namedConnectionElement" type="tns:Monahrq.Infrastructure.Configuration.NamedConnectionElementCT">
				<xs:annotation>
					<xs:documentation>The NamedConnectionElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqSettingElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqSettingElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="monahrqSettingElement" type="tns:Monahrq.Infrastructure.Configuration.MonahrqSettingElementCT">
				<xs:annotation>
					<xs:documentation>The MonahrqSettingElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqNamedSettingsElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="settings" type="tns:Monahrq.Infrastructure.Configuration.MonahrqSettingElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqContentPartElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="settings" type="tns:Monahrq.Infrastructure.Configuration.MonahrqSettingElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqContentPartElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="monahrqContentPartElement" type="tns:Monahrq.Infrastructure.Configuration.MonahrqContentPartElementCT">
				<xs:annotation>
					<xs:documentation>The MonahrqContentPartElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqContentTypeElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="contentParts" type="tns:Monahrq.Infrastructure.Configuration.MonahrqContentPartElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The ContentParts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="settings" type="tns:Monahrq.Infrastructure.Configuration.MonahrqSettingElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqContentTypeElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="monahrqContentTypeElement" type="tns:Monahrq.Infrastructure.Configuration.MonahrqContentTypeElementCT">
				<xs:annotation>
					<xs:documentation>The MonahrqContentTypeElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.SchemaIniElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.SchemaIniElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="schemaIniElement" type="tns:Monahrq.Infrastructure.Configuration.SchemaIniElementCT">
				<xs:annotation>
					<xs:documentation>The SchemaIniElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.ConnectionStringSettingsElementCT">
		<xs:attribute name="providerName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ProviderName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="connectionString" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ConnectionString.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqThemeElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isDefault" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsDefault.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="brandColor" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BrandColor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="accentColor" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AccentColor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="backgroundColor" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BackgroundColor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="accent2Color" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Accent2Color.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bodyTextColor" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BodyTextColor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="linkTextColor" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LinkTextColor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="brand2Color" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Brand2Color.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqThemeElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="theme" type="tns:Monahrq.Infrastructure.Configuration.MonahrqThemeElementCT">
				<xs:annotation>
					<xs:documentation>The MonahrqThemeElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="json-file-extension" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The JsonFileExtension.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.HospitalRegionElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="defaultStatesProxy" type="tns:Monahrq.Infrastructure.Configuration.StatesCollectionElementCT">
				<xs:annotation>
					<xs:documentation>The DefaultStatesProxy.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="defaultRegionTypeName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DefaultRegionTypeName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultStatesBAD" use="optional">
			<xs:annotation>
				<xs:documentation>The DefaultStatesBAD.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.ConnectionStringSettingsECT">
		<xs:attribute name="connectionStringSettings" use="optional">
			<xs:annotation>
				<xs:documentation>The ConnectionStringSettings.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.StatesCollectionElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="stateElement" type="tns:Monahrq.Infrastructure.Configuration.StateElementCT">
				<xs:annotation>
					<xs:documentation>The StateElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.StateElementCT">
		<xs:attribute name="stateName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The StateName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqBannerElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="banner" type="tns:Monahrq.Infrastructure.Configuration.MonahrqBannerElementCT">
				<xs:annotation>
					<xs:documentation>The MonahrqBannerElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Monahrq.Infrastructure.Configuration.MonahrqBannerElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
